<head>
  <%= stylesheet_link_tag "bootstrap.css", media: "all" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>

function validateAll(){
  var formCheck = true
  $("input").each(function(index,element){
    formCheck = formCheck && (validateForm(element));
  });
  $("select").each(function(index,element){
    formCheck = formCheck && (validateForm(element));
  });
  return formCheck;
}
function validateForm(el) {
    var x = el.value;
    return !(x == null || x == "");

}
$(document).ready(function(){
  $("#submarine").click(function(event){
    if (validateAll()) {
    }
    else {
      event.preventDefault() ;
      alert("Check your form bro! Did you fill out everything?");
    }
  })
  
  $("#dbagContainer").scroll(function(){
    var pos = $("#dbagContainer").scrollTop();
    var criteria = $("div[class*='dbagPanel']").length;
    criteria = (criteria*222)-400
    console.log(pos, criteria);
})

})


</script>
</head>
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <img class = "img-responsive" src="http://placehold.it/200x200">
    </div>
    <div class="col-xs-9">
      <fieldset class="form-group">
      <form action="/dbags/" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="row">
        <div class="col-xs-4">
          <label for="dbag[:color]">Color</label>
          <select class="form-control" name="dbag[color]" placeholder="Select Color">
            <%= @color.each do |x| %>
            <option>
            <%= x %>
            </option>
            <% end %>
          </select>
        </div>
        <div class="col-xs-4">
          <label for="dbag[make]">Make</label>
          <select class="form-control" name="dbag[make]" placeholder="Select Make">
            <%= @make.each do |x| %>
            <option>
            <%= x %>
            </option>
            <% end %>
          </select>
        </div>
        <div class="col-xs-4">
            <label for="dbag[plate_num]">Plate No.</label>
            <input id="plate_num" type="text" class="form-control" name="dbag[plate_num]">
        </div>
      </div>


      <div class="row">
        <div class="col-xs-6">
          <label for="dbag[title]">Title</label>
          <input id="title" type="text" class="form-control" name="dbag[title]">
        </div>
        <div class="col-xs-4">
          <label for="dbag[incident]">Type of Offense</label>
          <select class="form-control" name="dbag[incident]">
            <%= @incident.each do |x| %>
            <option>
            <%= x %>
            </option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9">
          <label for="dbag[summary]">Summary</label>
          <input type="text" class="form-control" name="dbag[summary]">
        </div>
        <div class="col-xs-3 text-right" style="margin-top:25px">
          <button id="submarine" type="submit" name="commit" class="btn btn-primary">
          Report that Fucker!
          </button>
        </div>
      </div>
          </form>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<h2 class="text-center"> Recently Reported Bastards</h2>
<div class="container dbagcontainer" id="dbagContainer">
<% @dbags.reverse_each do |x| %>
  <div class="panel panel-default dbagPanel">
  <div class="row">
    <div class="col-xs-3">
      <img class = "img-responsive" src="http://placehold.it/200x200">
    </div>
    <div class="col-xs-9">
      <h3><%= x.title %> <small> The <%= x.color.name %> <%= x.make.name %> that <%= x.incident.descrip %></small></h3>
      <p> <%= x.summary %></p>
    </div>
  </div>
  </div>

<% end %>
</div>
</div>

  
</div>