<head>
  <%= stylesheet_link_tag "bootstrap.css", media: "all" %>
</head>
<div class="container">
<div class="row">
<h1 class="col-md-12 text-center">Welcome to Bad Driver Database!</h1>
</div>

<p class="text-center"> A safe place to passive-aggressively complain about the horrible drivers on the road.</p>
<p class="text-center"> Has someone pissed you off? Report that fucker!</p>

<div class="row">
  <%= form_for @newbag, url: @newbag_path do |f| %>
    <div class="form-group col-md-4">
    <%= f.label "Plate Num" %>
    <%= f.text_area :plate_num %>
    </div>
    
    <div class="form-group col-md-4">
    <%= f.label :title %>
    <%= f.text_area :title %>
    </div>
    
    <div class="form-group col-md-4">
    <%= f.label :summary %>
    <%= f.text_area :summary %>
    </div>
    
    <%= f.select :make, @make %>
    <%= f.submit %>
    
</div>

  </p>
<% end %>



<h2> Recently Reported Bastards</h2>
<table border="1">
<% @dbags.reverse_each do |x| %>
  <tr>
  <td><%= x.id %></td>
  <td><%= x.plate_num %></td>
  <td><%= x.title %></td>
  <td><%= x.summary %></td>
  
<% end %>
</div>

  
</table>